# ignore ALL .log files
*.log
*__pycache__*
*.pyc

# ignore ALL files in ANY directory named temp
temp/ 
code/logs
code/experiments/logs
code/messageClient/logs
code/messageClient/code/messageClient
code/taskManager/logs
code/otherTaskGenerators
power_data_analysis